
#select_btn {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.image-view {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

.image-view:hover {
    -fx-cursor: hand;
}