.info-count{
    -fx-padding: 2px 5px;
}

.info-count Label{
    -fx-font-size: 20;
    -fx-text-fill: #9d989e;
    font-family: Arial, sans-serif;
}

.freeze-progress-bar {
    -fx-accent: #0090ff;
    -fx-control-inner-background: #a6a6a6;
    -fx-pref-height: 25px;
    -fx-pref-width: 200px;
    -fx-background-radius: 12px;
    -fx-progress-color: #0090ff;
}