
.label {
    -fx-text-fill: #ffffff;
}

.radio-button {
    -fx-text-fill: white;
    -fx-background-color: #2b2b2b;
}

.radio-button .dot {
    -fx-background-color: white;
    -fx-radius: 5;
}

.radio-button:selected .dot {
    -fx-background-color: #676d71;
}

#back_btn:hover {
    -fx-cursor: hand;
}